---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/pixeltrue-web-development.png";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hi, I’m React.JS and Ruby-on-Rails Developer passionate about working with programmers and clients to find creative solutions while developing and maintaining meaningful projects. 
			Interested in the intersection of education, nonprofit work, and programming. Experienced in proofreading, debugging code, and managing projects.
			Always looking to expand my knowledge, learn new technologies, and create innovative work.
		</p>  
		</div>
		
		<div class="flex justify-center">
			<Image src={aboutImg} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
</PageLayout>
